body {
  font-family: Arial;
  text-align: center;
  margin-top: 40px;
}

input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}
